.input-group-addon{
    padding-top: -10px !important;
    padding-bottom: -10px !important;
}

body {
    background: #97CCF1; /* Old browsers */
    /*#fe813e
    #404f54
    #798788*/
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 75px;
    padding-bottom: 0px;
    width: auto;
    float: left;
  }